<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <import resource="loggers.xml" />

    <context:property-placeholder location="classpath:client.properties, classpath:loggers.properties"
                                  system-properties-mode="NEVER"/>

    <util:map id="loggersMap">
        <entry key="INFO" value-ref="consoleEventLogger"/>
        <entry key="ERROR" value-ref="combinedEventLogger"/>
    </util:map>

    <bean id="app" class="App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="consoleEventLogger"/>
        <constructor-arg ref="loggersMap"/>
    </bean>

    <bean id="client" class="beans.Client">
        <constructor-arg value="${clientId}"/>
        <constructor-arg value="${clientFullName}"/>
        <property name="greeting" value="${clientGreeting}"/>
    </bean>


    <bean id="event" class="beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

</beans>